:root {
    --header-text-color: rgb(247, 163, 78);
    --filter-color: rgba(22, 18, 13, 0.9);
    --background-of-welcome-text: rgba(13, 11, 8, 0.8);
    --logo: rgb(254, 238, 221);
}


body, img, p, h1, h2, li, header, nav {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    
}

.header {
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--header-text-color);
    align-items: center;
    background-color: black;
}

header {
    font-size: 2rem;
    margin-left: 50px;
    color: var(--logo);
}

header:hover {
    cursor: pointer;
}

nav {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-right: 50px;

}

nav li {
    list-style-type: none;
    font-size: 2rem;
    transition: transform 0.3s ease;
}

nav li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#content {
    position: relative;
    z-index: 1;
    height: 90vh;
    background: url(./images/background-image.jpg);
    background-size: cover;  
    background-repeat: no-repeat;  
    background-position: center; 
    color: aliceblue;
}

.filter {
    display: grid;
    position: relative;
    z-index: 2;
    background-color: var(--filter-color);
    height: 100%;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  


.welcome {
    color: var(--header-text-color);
    font-size: 2rem;
    text-align: center;
    align-self: center;
    background-color: var(--background-of-welcome-text);
    padding: 50px;
    animation: fadeIn 2s ease-in;
}