body, img, p, h1, h2, li, header, nav {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    z-index: 2;
}

.header {
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: aliceblue;
    align-items: center;
    background-color: black;
}

header {
    font-size: 2rem;
}

nav {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav li {
    list-style-type: none;
    font-size: 2rem;

}



#content {
    height: 90vh;
    background: url(./images/background-image.jpg);
    background-size: cover;  
    background-repeat: no-repeat;  
    background-position: center; 
    color: aliceblue;
}
